.main {
    background-color: #000000;
    width: auto;
    height:auto;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 10px; /* ширина нового скроллбара */
}

::-webkit-scrollbar-track {
    background: #000000 ; /* цвет фона у дорожки */
   
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset; /* тень у дорожки */
}

::-webkit-scrollbar-thumb {
    background: #e35ce7;
    border-radius: 8px; /* скругление углов */
    
}

::-webkit-scrollbar-thumb:hover {
    background: #b218b8; /* ползунок меняет цвет при наведении */
}

.piska {
    width: auto;
    height: 39px;
}

.logo1 {
    width: auto;
    height: 600px;
    margin-left: 41px;
    margin-right: 41px;
    background-image: url(../img/logo2.jpg);
    background-size: cover;
}

.poslepiski {
        width: auto;
        height: 100px;
        background-color: #000000;
}

.info {
    width:auto;
    height: 640px;
    background: #000000;
}

.dasha {
    width: 299.121px;
    height: 478.997px;
    transform: rotate(0.063deg);
    transform: translate(100px,5px);
    border-radius: 123px 123px 7px 7px;
    position: relative;
    z-index: 150;
}

.fedaria {
    color: #ffffff;
    font-family: 'Broadway BT', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(390px,-946px);
    position: relative;
    z-index: 100;
}

.flaid {
    color: #ffffff;
    font-family: 'Broadway BT', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(789px,-885px);
    position: relative;
    z-index: 100;
}
.vlad {
    width: 313px;
    height: 474.967px;
    border-radius: 4px 4px 123px 123px;
    transform: translate(937px,-473px);
    position: relative;
    z-index: 100;
}

.ff {
    width: 640px;
    height: 222px;
    color: #FFF;
    font-family: 'Broadway BT', sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 135px;
    padding-top: 218px;
}

.logoxs {
    margin-left: 45px;
    stroke-width: 1px;
    stroke: #FFF;
    padding-top: 30px
}

.navigat {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    margin-top: -22px;
}

a {
    text-decoration: none;
    color: #FFF;
    padding: 20px;
    transition: 0.3s ease;
} 

a:hover {
    color: #0f2a83;
    text-decoration: none;
    transform: scale(1.2);
}

.pisda {
    color: #ffffff;
    width: 215px;
    font-family: 'Trebuchet MS';
    font-size: 17.5px;
    font-style: normal;
    line-height: normal;
    text-align: justify;
    transform: translate(425px,-1960px);
    line-height: 25px;
    position: relative;
    z-index: 100;
}

.pisvla {
    color: #ffffff;
    width: 215px;
    font-family:'Trebuchet MS';
    font-size: 17.5px;
    font-style: normal;
    transform: translate(690px,-1980px);
    line-height: normal;
    text-align: justify;
    line-height: 25px;
    position: relative;
    z-index: 100;
}

.sh1 {
    width: 360.446px;
    height: 263.743px;
    fill: rgba(100, 11, 91, 0.35);
    transform: translate(0,-2130px);
}

.sh2 {
    width: 360.446px;
    height: 263.743px;
    fill: rgba(100, 11, 91, 0.35);
    transform: translate(320px,-2650px);
}

.sh3 {
    width: 385.602px;
    height: 280.117px;
    fill: rgba(100, 11, 91, 0.35);
    transform: translate(590px,-2700px);
}

.zadash {
  width: 300px;
  height: 474.429px;
  border-radius: 70px 70px 0px 0px;
  background: #8E0D8F;
  z-index: 10000;
  transform: translate(115px,-1070px)
}

.zavlad {
  width: 300px;
  height: 474.429px;
  border-radius: 0px 0px 70px 70px;
  background: #481DAC;
  transform: translate(915px,-1545px)
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 571px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: #fadfc0;
    border-radius: 20px;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
    line-height: 1.8;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .4s;
}

.modal__close-btn:hover svg path {
    fill: blue;
}

.modal__close-btn:active svg path {
    fill: rgb(186, 53, 0);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}



.modal2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box2 {
    position: relative;
    max-width: 571px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: rgb(189, 212, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
    line-height: 1.8;
}

.modal__close-btn2 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn2 svg path {
    transition: fill .4s;
}

.modal__close-btn2:hover svg path {
    fill: blue;
}

.modal__close-btn2:active svg path {
    fill: rgb(186, 53, 0);
}

.modal2.open {
    visibility: visible;
    opacity: 1;
}

.modal2.open .modal__box2 {
    transform: scale(1);
}

.modal3 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box3 {
    position: relative;
    max-width: 571px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: #fadfc0;
    border-radius: 20px;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
    line-height: 1.8;
}

.modal__close-btn3 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn3 svg path {
    transition: fill .4s;
}

.modal__close-btn3:hover svg path {
    fill: blue;
}

.modal__close-btn3:active svg path {
    fill: rgb(186, 53, 0);
}

.modal3.open {
    visibility: visible;
    opacity: 1;
}

.modal3.open .modal__box3 {
    transform: scale(1);
}

.modal4 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box4 {
    position: relative;
    max-width: 571px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: #fadfc0;
    border-radius: 20px;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
    line-height: 1.8;
}

.modal__close-btn4 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn4 svg path {
    transition: fill .4s;
}

.modal__close-btn4:hover svg path {
    fill: blue;
}

.modal__close-btn4:active svg path {
    fill: rgb(186, 53, 0);
}

.modal4.open {
    visibility: visible;
    opacity: 1;
}

.modal4.open .modal__box4 {
    transform: scale(1);
}

.modal5 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box5 {
    position: relative;
    max-width: 571px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: #fadfc0;
    border-radius: 20px;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
    line-height: 1.8;
}

.modal__close-btn5 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn5 svg path {
    transition: fill .4s;
}

.modal__close-btn5:hover svg path {
    fill: blue;
}

.modal__close-btn5:active svg path {
    fill: rgb(186, 53, 0);
}

.modal5.open {
    visibility: visible;
    opacity: 1;
}

.modal5.open .modal__box5 {
    transform: scale(1);
}


.btn1 {
        height: 60px;
        width: 140px;
        background-image: none; 
        background: transparent;
        background-color: transparent;
        color: white;
        position: relative;
        transform: translate(424px,-710px);
        z-index: 900;
        border-radius: 25px;
        border-color: #FFF;
        font-family: 'Broadway BT', sans-serif;
}

.btn2 {
    height: 60px;
    width: 140px;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    color: white;
    position: relative;
    transform: translate(547px,-568px);
    z-index: 900;
    border-radius: 25px;
    border-color: #FFF;
    font-family: 'Broadway BT', sans-serif;
}

.btn3 {
    height: 60px;
    width: 140px;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    color: white;
    position: relative;
    transform: translate(450px,208px);
    z-index: 900;
    border-radius: 25px;
    border-color: #FFF;
    font-family: 'Broadway BT', sans-serif;
}

.btn4 {
    height: 60px;
    width: 140px;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    color: white;
    position: relative;
    transform: translate(583px,668px);
    z-index: 900;
    border-radius: 25px;
    border-color: #FFF;
    font-family: 'Broadway BT', sans-serif;
}

.btn5 {
    height: 60px;
    width: 140px;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    color: white;
    position: relative;
    transform: translate(500px,280px);
    z-index: 900;
    border-radius: 25px;
    border-color: #FFF;
    font-family: 'Broadway BT', sans-serif;
}

.vladik {
    transform: translate(270px,-150px);
    font-style: italic;
    font-family: cursive;
    font-size: 16px;
}
.vladik1 {
    transform: translate(10px,-150px);
    font-style: italic;
    font-family: cursive;
    font-size: 16px;
}
.vladik2 {
    transform: translate(270px,-150px);
    font-style: italic;
    font-family: cursive;
    font-size: 16px;
}
.vladik3 {
    transform: translate(10px,-150px);
    font-style: italic;
    font-family: cursive;
    font-size: 16px;
}
.vladik4 {
    transform: translate(270px,-150px);
    font-style: italic;
    font-family: cursive;
    font-size: 16px;
}

.vladay {
    width: 240px;
    height: 320px;
    border-radius: 20px;
    border: #838383;
    border-style:dashed;
    border-width: 5px;
}

.vladay1 {
    width: 240px;
    height: 320px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 240px;
    border: #838383;
    border-style:dashed;
    border-width: 5px;
}

.dashay {
    width: 480px;
    height: 640px;
    border-radius: 20px;
    border: #838383;
    border-style:dashed;
    border-width: 5px;
}

.dashay1 {
    width: 480px;
    height: 540px;
    border-radius: 20px;
    border: #838383;
    border-style:dashed;
    border-width: 5px;
}

.dashay15 {
    width: 480px;
    height: 540px;
    border-radius: 20px;
    border: #000000;
    border-style:double;
    border-width: 5px;
}

.dashay89 {
    width: 240px;
    height: 320px;
    border-radius: 20px;
    transform: translate(240px,-120px);
    border: #000000;
    border-style:double;
    border-width: 5px;
}

.dashay88 {
    width: 240px;
    height: 320px;
    border-radius: 20px;
    transform: translate(0px,100px);
    border: #000000;
    border-style:double;
    border-width: 5px;
}

.dash {
    padding: 10px;
    font-size: 18px;
    text-align: justify;
}

.bands {
    width: auto;
    height: 1248px;
    background-color: #000000;
}

.social {
    width: auto;
    height: 489px;
    flex-shrink: 0;
    background: #9832FF;
}

.soczag {
    color: #FFF;
    font-family: 'Broadway BT', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    transform: translate(0,42px);
}

.mi {
  position: absolute;
  transform: translate(410px,-202px);
}

.center__text {
    margin: auto;
    font-family: 'Broadway BT', sans-serif;
    font-size: 64px;
    font-weight: 400px;
    font-style: normal;
    text-transform: uppercase;
    z-index: 1000;
    text-align: center;
    transform: translate(0,-10px);
  }
  
  .glitch {
    position: relative;
    color: white;
    mix-blend-mode: lighten;
  
    &:before,
    &:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        width: 100%;
        background: black;
        clip: rect(0, 0, 0, 0);
    }
    
    &:before {
        left: -1px;
        text-shadow: 1px 0 rgba(red,0.7);
    }
  
    &:after {
        left: 1px;
        text-shadow: -1px 0 rgba(blue,0.7);
    }
  
    &:hover {
      &:before {
        text-shadow: 4px 0 rgba(red,0.7);
        animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
      }
      &:after {
        text-shadow: -5px 0 rgba(blue,0.7);
        animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
      }
    }
  }
  
  @keyframes glitch-loop-1 {
    0% { clip: rect(36px, 9999px, 9px, 0) }
    25% { clip: rect(25px, 9999px, 99px, 0) }
    50% { clip: rect(50px, 9999px, 102px, 0) }
    75% { clip: rect(30px, 9999px, 92px, 0) }
    100% { clip: rect(91px, 9999px, 98px, 0) }
  }
  
  @keyframes glitch-loop-2 {
    0% { top: -1px; left: 1px; clip: rect(65px, 9999px, 119px, 0) }
    25% { top: -6px; left: 4px; clip: rect(79px, 9999px, 19px, 0) }
    50% { top: -3px; left: 2px; clip: rect(68px, 9999px, 11px, 0) }
    75% { top: 0px; left: -4px; clip: rect(95px, 9999px, 53px, 0) }
    100% { top: -1px; left: -1px; clip: rect(31px, 9999px, 149px, 0) }
  }

.socris {
  position: absolute;
  transform: translate(400px,-205px);
}

.instanad1 {
  color: #FFF;
  font-family: 'Broadway BT', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translate(110px,78px);
}

.instalog1 {
  width: 28px;
  height: 28.058px;
  transform: translate(90px,100px);
}

.vknad1 {
  color: #FFF;
  font-family: 'Broadway BT', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translate(110px,80px);
}

.vklog1 {
  width: 28px;
  height: 28.058px;
  flex-shrink: 0;
  transform: translate(90px,100px);
}

.instalog2 {
  width: 28px;
  height: 28.058px;
  flex-shrink: 0;
  transform: translate(1019px,7px);
}

.instanad2 {
  color: #FFF;
  font-family: 'Broadway BT', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translate(1040px,-15px);
}

.vklog2 {
  width: 28px;
  height: 28.058px;
  flex-shrink: 0;
  transform: translate(1019px,7px);
}

.vknad2 {
  width: 28px;
  height: 28.058px;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'Broadway BT', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translate(1040px,-13px);
}

.sercmesh {
    transform: translate(684px,-1874px);
}

.kolya {
    transform: translate(50px,-5px);
}

.lesha {
    transform: translate(400px);
}

.zadkoli {
    transform: translate(127px);
}

.fotokoli {
    transform: translate(144.5px,-370px);
}

.nadpkoli {
    transform: translate(360px,-660px);
}

.zadleshi {
    transform: translate(433.66px,-430px);
}

.fotoleshi {
    transform: translate(406px,-810px);
}

.nadleshi {
    transform: translate(678.42px,-955px);
}

.zadviki {
    transform: translate(883.04px,-1455px);
}

.fotoviki {
    transform: translate(908px,-1810px);
}

.nadviki {
    transform: translate(805px,-2090px);
}

.tgnad1 {
  width: 28px;
  height: 28.058px;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'Broadway BT', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translate(110px,-18px);
}

.tglog1 {
  width: 28px;
  height: 28.058px;
  flex-shrink: 0;
  transform: translate(90px,4px);
}

.tgnad2 {
    width: 28px;
    height: 28.058px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Broadway BT', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(1040px,-75px);
}

  .tglog2 {
    width: 28px;
    height: 28.058px;
    flex-shrink: 0;
    transform: translate(1019px,-53px);
  }

.forum {
    width: auto;
    height: 700px;
    background-color: #0f2a83;
}

.snakebut {
    text-align: center;
    padding-top: 50px;
}

.border-button {
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position:relative;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 300;
    font-family: 'Broadway BT', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .border-button:before, .border-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .border-button:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .border-button:after {
    top: 0;
    right: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
  }
  .border-button:hover:before, 
  .border-button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .border-button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  }
  .border-button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  }
  .border-button:hover {
    background: rgba(255, 255, 255, .2);
  }