.main {
    background-color: #000000;
    width: auto;
    height: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px; /* ширина нового скроллбара */
}

::-webkit-scrollbar-track {
    background: #000000 ; /* цвет фона у дорожки */
   
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset; /* тень у дорожки */
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 8px; /* скругление углов */
    
}

::-webkit-scrollbar-thumb:hover {
    background: #acacac; /* ползунок меняет цвет при наведении */
}

.piska {
    width: auto;
    height: 41px;
}

.logo1 {
    width: auto;
    height: 600px;
    margin-left: 41px;
    margin-right: 41px;
    background-image: url(../img/logo2.jpg)
}

.poslepiski {
        width: auto;
        height: 52px;
}

.info {
    width:auto;
    height: 640px;
    background: #000000;
}

.dasha {
    width: 299.121px;
    height: 478.997px;
    transform: rotate(0.063deg);
    transform: translate(100px,5px);
    border-radius: 123px 123px 7px 7px;
    position: relative;
    z-index: 100;
}

.fedaria {
    color: #ffffff;
    font-family: 'Broadway BT', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(390px,-946px);
    position: relative;
    z-index: 100;
}

.flaid {
    color: #ffffff;
    font-family: 'Broadway BT', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(800px,-898px);
    position: relative;
    z-index: 100;
}
.vlad {
    width: 313px;
    height: 474.967px;
    border-radius: 4px 4px 123px 123px;
    transform: translate(937px,-475px);
    position: relative;
    z-index: 100;
}

.ff {
    width: 640px;
    height: 222px;
    color: #FFF;
    font-family: 'Broadway BT', sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 135px;
    padding-top: 218px;
}

.logoxs {
    margin-left: 45px;
    stroke-width: 1px;
    stroke: #FFF;
    padding-top: 30px
}

.navigat {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    margin-top: -22px;
}

a {
    text-decoration: none;
    color: #FFF;
    padding: 20px;
    transition: 0.3s ease;
} 

a:hover {
    color: #0f2a83;
    text-decoration: none;
    transform: scale(1.2);
}

.pisda {
    color: #ffffff;
    width: 280px;
    font-family: 'Broadway BT', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    transform: translate(420px,-1020px);
    line-height: 35px;
    position: relative;
    z-index: 100;
}

.pisvla {
    color: #ffffff;
    width: 280px;
    font-family: 'Broadway BT', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400px;
    transform: translate(640px,-1040px);
    line-height: normal;
    text-align: justify;
    line-height: 35px;
    position: relative;
    z-index: 100;
}

.sh1 {
    width: 360.446px;
    height: 263.743px;
    fill: rgba(100, 11, 91, 0.35);
    transform: translate(0,-1230px);
}

.sh2 {
    width: 360.446px;
    height: 263.743px;
    fill: rgba(100, 11, 91, 0.35);
    transform: translate(350px,-1790px);
}

.sh3 {
    width: 385.602px;
    height: 280.117px;
    fill: rgba(100, 11, 91, 0.35);
    transform: translate(590px,-1830px);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 571px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
    line-height: 1.8;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .4s;
}

.modal__close-btn:hover svg path {
    fill: blue;
}

.modal__close-btn:active svg path {
    fill: rgb(186, 53, 0);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}



.modal2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box2 {
    position: relative;
    max-width: 571px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
    line-height: 1.8;
}

.modal__close-btn2 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn2 svg path {
    transition: fill .4s;
}

.modal__close-btn2:hover svg path {
    fill: blue;
}

.modal__close-btn2:active svg path {
    fill: rgb(186, 53, 0);
}

.modal2.open {
    visibility: visible;
    opacity: 1;
}

.modal2.open .modal__box2 {
    transform: scale(1);
}



.btn1 {
        height: 60px;
        width: 140px;
        background-image: none; 
        background: transparent;
        background-color: transparent;
        color: white;
        position: relative;
        transform: translate(480px,-710px);
        z-index: 900;
        border-radius: 20px;
        border-color: #FFF;
        font-family: 'Broadway BT', sans-serif;
}

.btn2 {
    height: 60px;
    width: 140px;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    color: white;
    position: relative;
    transform: translate(573px,-540px);
    z-index: 900;
    border-radius: 20px;
    border-color: #FFF;
    font-family: 'Broadway BT', sans-serif;
}

.dashay {
    width: 480px;
    height: 640px;
    border-radius: 20px;
}

.dash {
    padding: 10px;
    font-size: 18px;
    text-align: justify;
}

.bands {
    width: auto;
    height: 700px;
    background-color: #424242;
}

.forum {
    width: auto;
    height: 700px;
    flex-shrink: 0;
    background: #3f7e27;
}

.social {
    width: auto;
    height: 487px;
    flex-shrink: 0;
    background: #9832FF;
}

.soczag {
    color: #FFF;
    font-family: 'Broadway BT', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    transform: translate(0,42px)
}

.mi {
    transform: translate(410px,102px);
}

.palka1 {
    transform: translate(400px,-70px);
    stroke-width: 3px;
    stroke: #250D3D;
}

.palka2 {
    transform: translate(511px,-400px);
    stroke-width: 3px;
    stroke: #250D3D;
}

.palka3 {
    transform: translate(880px,-403px);
    stroke-width: 3px;
    stroke: #250D3D;
}

.center__text {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    z-index: 1000;
    text-align: center;
    transform: translate(0,158px);
    
  }
  
  .glitch {
    position: relative;
    color: white;
    mix-blend-mode: lighten;
  
    &:before,
    &:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        width: 100%;
        background: black;
        clip: rect(0, 0, 0, 0);
    }
    
    &:before {
        left: -1px;
        text-shadow: 1px 0 rgba(red,0.7);
    }
  
    &:after {
        left: 1px;
        text-shadow: -1px 0 rgba(blue,0.7);
    }
  
    &:hover {
      &:before {
        text-shadow: 4px 0 rgba(red,0.7);
        animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
      }
      &:after {
        text-shadow: -5px 0 rgba(blue,0.7);
        animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
      }
    }
  }
  
  @keyframes glitch-loop-1 {
    0% { clip: rect(36px, 9999px, 9px, 0) }
    25% { clip: rect(25px, 9999px, 99px, 0) }
    50% { clip: rect(50px, 9999px, 102px, 0) }
    75% { clip: rect(30px, 9999px, 92px, 0) }
    100% { clip: rect(91px, 9999px, 98px, 0) }
  }
  
  @keyframes glitch-loop-2 {
    0% { top: -1px; left: 1px; clip: rect(65px, 9999px, 119px, 0) }
    25% { top: -6px; left: 4px; clip: rect(79px, 9999px, 19px, 0) }
    50% { top: -3px; left: 2px; clip: rect(68px, 9999px, 11px, 0) }
    75% { top: 0px; left: -4px; clip: rect(95px, 9999px, 53px, 0) }
    100% { top: -1px; left: -1px; clip: rect(31px, 9999px, 149px, 0) }
  }
  